main {
    margin: 0;
    padding: 0;
    background-color: bisque;
    height: 100vh;
    overflow: hidden;
}

h3{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

form {
    padding: 0 40px;
    box-sizing: border-box;

}

.content-authentication{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 10px;

}

.input-container{
    
}