
main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    position:relative;
    background-color:  rgb(252, 243, 214);
    overflow: hidden;
    
}

main > img {
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
}


section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em;
    width: 80%;
    position: absolute;
}

section.quiz-menu {
    display: inline;
    width: inherit;
    height: initial;
    background-color: rgba(219, 219, 219, 0.8);  
}

.quiz-menu > .quiz-content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

section.quiz-container{
    display: none;
    background-color: rgba(219, 219, 219, 0.8);  
}

.quiz-header{
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.close{
    background-color: rgb(248, 63, 31);
    width: 10%;
    aspect-ratio: 4/4;
    display: flex;
    justify-content: flex-end;
}

.start-btn{
    background-color: rgb(105, 221, 105);
    padding: 1em;
    border-radius: 25em;
}

.quiz-content{
    background-color: rgba(219, 219, 219, 0.568);  
    padding: 2em;
    margin: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.quiz-number{
    background-color: rgba(219, 219, 219, 0.568);  
    border: 1px solid red;
    background-color:#e7ab29;
    padding: .5em;
    text-align: center;

}

.quiz-question{
    background-color: rgba(219, 219, 219, 0.568);  
    padding: .5em;
    flex-wrap: wrap;
    border: 1px solid red;
}

.answer{
    background-color: rgba(44, 169, 226, 0.568);  
    padding: .5em;
    border-radius: 25em;
    cursor: pointer;
}

.quiz-footer{
    display: flex;
    justify-content: space-between;

    padding: .5em;
}

