/* color scheme for application */

:root {
	--cyan: #72c4a6;
	--forest: #2f9379;
	--pink: #F6baa8;
	--coral: #e46565;
    --gold: #e7ab29;
}

nav{
    background-color: var(--forest) ;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

