body,
main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
}

hr{
    border: 0.5px solid rgba(119, 85, 23, 0.596);
}

h1 {
    margin: 10px;
}

a {
    color: black;
}

.section-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 10px;
}

.section-content {
    /* container*/
    display: flex;
    justify-content: center;
}

.card-container {
    /* slider*/

    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    width: 100%;
    margin: 20px 0px;
    height: 30%;
}

.card-information {
    /* img & popup container*/

    flex: 0 0 25%;
    width: 25%;
    aspect-ratio: 16/9;
    /* padding: 3px; */
    margin-bottom: 15px;
    position: relative;
    text-align: center;
    color: white;
    max-width: 25%;
    /* border: 0.2px solid black; */
    /* border-radius: 10%; */
    box-shadow: 0 1px 3px rgba(100, 100, 100, 0.3);
    margin: .3em;
    margin-bottom: 2em;
    font-size: 90%;

    /* margin is for the slider at the bottom */
    /* aspect- ratio gives the div portion sizing */

    text-align: center;
    color: black;
    font-size: 90%;
    overflow: hidden;
}

.card-information>img {
    margin-left: 50%;
    transform: translateX(-50%);
    height: 100%;
    border-radius: 3px;
    
}


.card-context {
    /* open btn */
    padding: 0.5em;
    position: absolute ;
    bottom: 0;
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.5);
    font-size: 100%;
    text-overflow: ellipsis;
    width: 95%;
}

.card-context>button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 60%;
    font-weight: bold;
    text-align: left;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    margin-top: 1em; 
    margin-right: 0.5em;
}

/* ----- for scrolling function--- */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(106, 143, 111, 0.293);
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.065);
}

@media screen and (max-width: 550px) {

    .card-information {
        aspect-ratio: 8/10;
        width: 66%;
    }

}