
main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    position:relative;
    background-color:  rgb(252, 243, 214);
    overflow: hidden;
    
}

button{
    cursor: pointer;
    border: 0;
}
button:hover{
    transform:scale(1.05,1.05);
}

main > img {
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
}


section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em;
    padding: 1em;
    width: 80%;
    max-width: 75%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);  
}

section.quiz-menu {
    display: inline;
    width: inherit;
    height: initial;
    
}

.quiz-menu > .quiz-content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

section.quiz-container{
    display: none; 
}

.quiz-header{
    display: flex;
    justify-content: space-between;
}

.close{
    background-color: rgb(248, 63, 31);
    width: 2em;
    aspect-ratio: 4/4;
    display: flex;
    justify-content: flex-end;
}

.start-btn{
    background-color: rgb(105, 221, 105);
    padding: 1em;
    border-radius: 25em;
}

.quiz-content{
    margin: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.quiz-number{
    background-color: rgba(219, 219, 219, 0.568);  
    background-color:#e7ab29;
    padding: .5em;
    text-align: center;

}

.quiz-question{
    margin: 1em;
    flex-wrap: wrap;
}

.answer{
    background-color: rgba(72, 182, 226, 0.877);  
    padding: .5em;
    border-radius: 25em;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
}

.quiz-footer{
    display: flex;
    justify-content: space-between;
}


/* -------- for the over lay ------- */
/* overlay is to dim the background and prevent clicking other cards */
#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;

    /* transition creates the action for overlay entrance */
}

#overlay.dim{
    opacity: 1;
    pointer-events: all;
    z-index: 10;

    /* when a class dim is added to id overlay, the overlay will cover the entire page */
    /* z-index covers the cards and floating bar prevents accidental clicking */
}



/* ---------for the popup---------- */
.popup-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 11;
    background-color: aliceblue;
    width: 60%;
    max-width: 60%;
    padding: 1em;
    height: auto;
    

    /* transform scale 0 is to hide the popup and wait for event*/
    /* translate positions popup to center screen */
    /* z-index ensure popup is on top of overlay */
    /* transition creates the action for popup entrance */
}

.popup-container.active{
    transform: translate(-50%, -50%) scale(1);

    /* when a class active is added to class popup-container, the popup will show at the center of the page */
}

.popup-header{
    padding: 10px 15px;
    display: flex;
    justify-content: center;
}

.popup-body{
    padding: 1.5em;
    width:100%;
    display: grid;
    justify-content: space-between;
    row-gap: 0.5em;
    column-gap: 1em;
    grid-template-columns: 50fr 50fr;
}

button#yes{
    background-color: rgb(105, 221, 105);
    padding: .5em;
    border-radius: 5px;
}

button#no{
    background-color: rgb(248, 63, 31);
    padding: .5em;
    border-radius: 5px;
}