body, main{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

hr{
    border: 0.5px solid rgba(119, 85, 23, 0.596);
}

h1, h2{
    font-weight: 800;
}

a{
    color:black;
}

label[for="greetings"]{
    display: flex;
    font-size: x-large;
    text-align: center;
    font-weight: 600;
    width: 100%;
   justify-content: center;
}

#reward-photo {
    max-width: 200px;
}

.sort-dropdown{
    padding: 5px;
    border-radius: 10px;
}

.section-header{
    display: flex;
    align-items: baseline;
    justify-content: space-between; 
    margin:10px  
}
  
.section-content{ /* container*/
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 1em;
}

/* .rewards-container{  
   padding: 10px;
} */

.rewards-container{

    /* border: 1px solid black; */
    box-shadow: 0 2px 5px rgba(100, 100, 100, 0.3);
    border-radius: 10px;
    width: 95%;
    padding: .5em;
    margin: .5em;
    display: grid;
    grid-template-areas:
    'rewards-title rewards-title  image-container'
    'rewards-title rewards-title  image-container '
    'cost cost  image-container'
    'rewards-info rewards-info  image-container'
    'rewards-info rewards-info  image-container';
    /* justify-content: space-around; */
}

.rewards-container:hover{
    /* box-shadow: 0 2px 10px rgba(100, 100, 100, 1); */
    box-shadow: 0 2px 5px rgb(131, 92, 92);
}

.image-container{
    display: flex;
    justify-content: flex-end;
    grid-area:image-container;
}

.image-container > img{
    width:fit-content;
    height:fit-content;
}

.rewards-title{
    grid-area: rewards-title;
    padding: .2em;
}

.rewards-info{
    grid-area: rewards-info
}

.cost{
    grid-area: cost;
    padding: 10px;
    font-weight:bold;
    font-size: 0.8em;
}

.cost > button{
    grid-area: button;
}

button{
    padding: 5px;
    margin: 5px;
    font-size: medium;
    background-color: rgba(114, 196, 166 , 0.5);
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: rgba(114, 196, 166 , 1);

}

@media(max-width: 768px) {
    .rewards-container{
        justify-content: center;
        grid-template-areas:
        'image-container image-container'
        'rewards-title rewards-title'
        'cost cost'
        'button button'
        'rewards-info rewards-info'
        'rewards-info rewards-info';
        
    }

    .image-container {
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        
    }
}