/* color scheme for application */

html {
    position: relative;
    min-height: 100%;
}

:root {
    --cyan: #72c4a6;
    --forest: #2f9379;
    --pink: #F6baa8;
    --coral: #e46565;
    --gold: #e7ab29;
}

/* Nav-bar CSS */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    list-style: none;
}

header {
    background-color: #2f9379;
}

a,
.brand {
    color: #F6baa8;
    text-decoration: none;
}

.nav-bar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    width: 100%;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    z-index: 100;
}

.nav-branding {
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.nav-link {
    transition: 0.7s ease;
    color: saddlebrown;
    font-weight: 500;
}

.nav-link:hover {
    color: #F6baa8;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/* Footer CSS */
footer {
    /* position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;
    background-color: #2f9379;
    color: white;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
}

.floating-bar{
    width: 300px;
    background-color: rgba(222,184,135, 0.4);
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 100px;
    bottom: 1%;
    left: 0;
    right: 0;
    overflow: hidden;
    position: fixed;
}

.floating-bar img {
    height: 50px;
}

.floating-bar button {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    border: none;
    margin: 2px;
}

#empty-footer{
    width: 100%;
    min-height: 70px;
    position: static;
    bottom: 0%;
}


@media screen and (max-width: 975px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: absolute;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #72c4a6;
        text-align: center;
        transition: 0.3s;
        width: 100%;
    }

    .nav-items {
        margin: 10px 0;
        font-size: larger;
    }

    .nav-menu.active {
        left: 0
    }

    .floating-bar img {
        height: 5vh;
    }
    /* footer {
        margin-top: 10px;
        position: relative;
    } */
}
